<table style='border-collapse:collapse'>
<thead>
<tr>
	<th>Category</th>
	<th>europe</th>
	<th>eea</th>
	<th>core</th>
	<th>Description</th>
</tr>
</thead>
<tbody>
<tr style=''>
	<th><i>&nbsp;all</i></th>
	<td>355.1M(6641)</td>
	<td>292.1M(5437)</td>
	<td>215.1M(3543)</td>
	<td>all flight links</td>
</tr>
<tr style=''>
	<th><i>- &nbsp;island</i></th>
	<td>38.1M(985)</td>
	<td>37.1M(941)</td>
	<td>29.3M(542)</td>
	<td>the flight goes to an island</td>
</tr>
<tr style=''>
	<th><i>- &nbsp;not_in_graph</i></th>
	<td>5.2M(261)</td>
	<td>4.2M(218)</td>
	<td>2.6M(133)</td>
	<td>>= 1 station is not in graph</td>
</tr>
<tr style=''>
	<th><i>- &nbsp;no_connection</i></th>
	<td>16.9M(251)</td>
	<td>16.8M(247)</td>
	<td>3.5M(55)</td>
	<td>no rail connection found</td>
</tr>
<tr style=''>
	<th><i>=&nbsp;potential</i></th>
	<td>300.0M(5405)</td>
	<td>238.2M(4249)</td>
	<td>182.3M(2946)</td>
	<td>connection not to island</td>
</tr>
<tr style=''>
	<th><i>- &nbsp;unmapped</i></th>
	<td>12.9M(611)</td>
	<td>7.4M(401)</td>
	<td>6.2M(304)</td>
	<td>no idea where the airport lies next to</td>
</tr>
<tr style=''>
	<th><i>- &nbsp;no_rail</i></th>
	<td>28.4M(464)</td>
	<td>6.1M(172)</td>
	<td>5.5M(136)</td>
	<td>we know there are no trains there</td>
</tr>
<tr style=''>
	<th><i>=&nbsp;all_gauge</i></th>
	<td>253.5M(4069)</td>
	<td>220.4M(3458)</td>
	<td>168.0M(2373)</td>
	<td>exiting connections regardless of gauge</td>
</tr>
<tr style=''>
	<th><i>- &nbsp;wrong_gauge</i></th>
	<td>37.6M(638)</td>
	<td>29.3M(461)</td>
	<td>1.5M(28)</td>
	<td>>= 1 station is not in standard gauge</td>
</tr>
<tr style='font-weight: bold; border-top: 1px solid black'>
	<th><i>=&nbsp;valid</i></th>
	<td>216.0M(3431)</td>
	<td>191.2M(2997)</td>
	<td>166.6M(2345)</td>
	<td>have potential existing train connections</td>
</tr>
<tr style=''>
	<th><i>-&nbsp;too_long</i></th>
	<td>77.8M(1694)</td>
	<td>53.7M(1179)</td>
	<td>13.7M(308)</td>
	<td>duration too long (>900 min)</td>
</tr>
<tr style='font-weight: bold; border-top: 1px solid black'>
	<th><i>=&nbsp;short_enough</i></th>
	<td>175.8M(2375)</td>
	<td>166.8M(2279)</td>
	<td>154.3M(2065)</td>
	<td>convertible to (night) trains (<900 min)</td>
</tr>
<tr style=''>
	<th><i>*&nbsp;really_long</i></th>
	<td>49.8M(891)</td>
	<td>47.1M(840)</td>
	<td>40.8M(719)</td>
	<td>really long night train (600 < x < 900 min)</td>
</tr>
<tr style=''>
	<th><i>*&nbsp;pref_length</i></th>
	<td>61.8M(818)</td>
	<td>60.7M(796)</td>
	<td>57.4M(733)</td>
	<td>good night train length (360 < x < 600 min)</td>
</tr>
<tr style=''>
	<th><i>*&nbsp;really_short</i></th>
	<td>64.2M(666)</td>
	<td>58.9M(643)</td>
	<td>56.2M(613)</td>
	<td>day train (<360 min)</td>
</tr>
</tbody>
</table>
