<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>source</th>
      <th>target</th>
      <th>dur_fastest</th>
      <th>dur_shortest</th>
      <th>dur_diff</th>
      <th>dist_fastest</th>
      <th>dist_shortest</th>
      <th>dist_diff</th>
      <th>route_fastest</th>
      <th>route_shortest</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3156</th>
      <td>kau(Kaunas)</td>
      <td>mar(Marseille)</td>
      <td>1391</td>
      <td>1845</td>
      <td>454</td>
      <td>2226426</td>
      <td>2050120</td>
      <td>176306</td>
      <td>[kau, bia, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar]</td>
      <td>[kau, bia, war, kat, brc, wie, via, ven, ver, mil, geo, nic, mar]</td>
    </tr>
    <tr>
      <th>1141</th>
      <td>mar(Marseille)</td>
      <td>vil(Vilnius)</td>
      <td>1490</td>
      <td>1944</td>
      <td>454</td>
      <td>2311947</td>
      <td>2135640</td>
      <td>176306</td>
      <td>[mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, bia, kau, vil]</td>
      <td>[mar, nic, geo, mil, ver, ven, via, wie, brc, kat, war, bia, kau, vil]</td>
    </tr>
    <tr>
      <th>3039</th>
      <td>brs(BrestBy)</td>
      <td>mar(Marseille)</td>
      <td>1190</td>
      <td>1644</td>
      <td>454</td>
      <td>2031337</td>
      <td>1855030</td>
      <td>176306</td>
      <td>[brs, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar]</td>
      <td>[brs, war, kat, brc, wie, via, ven, ver, mil, geo, nic, mar]</td>
    </tr>
    <tr>
      <th>1132</th>
      <td>mar(Marseille)</td>
      <td>war(Warszawa)</td>
      <td>978</td>
      <td>1432</td>
      <td>454</td>
      <td>1830034</td>
      <td>1653727</td>
      <td>176306</td>
      <td>[mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war]</td>
      <td>[mar, nic, geo, mil, ver, ven, via, wie, brc, kat, war]</td>
    </tr>
    <tr>
      <th>2955</th>
      <td>hel(Helsinki)</td>
      <td>mar(Marseille)</td>
      <td>2330</td>
      <td>2784</td>
      <td>454</td>
      <td>3955870</td>
      <td>3779563</td>
      <td>176306</td>
      <td>[hel, sak, mos, min, brs, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar]</td>
      <td>[hel, sak, mos, min, brs, war, kat, brc, wie, via, ven, ver, mil, geo, nic, mar]</td>
    </tr>
    <tr>
      <th>1136</th>
      <td>mar(Marseille)</td>
      <td>min(Minsk)</td>
      <td>1372</td>
      <td>1826</td>
      <td>454</td>
      <td>2381533</td>
      <td>2205227</td>
      <td>176306</td>
      <td>[mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, brs, min]</td>
      <td>[mar, nic, geo, mil, ver, ven, via, wie, brc, kat, war, brs, min]</td>
    </tr>
    <tr>
      <th>1140</th>
      <td>mar(Marseille)</td>
      <td>mos(Moskva)</td>
      <td>1914</td>
      <td>2368</td>
      <td>454</td>
      <td>3023283</td>
      <td>2846976</td>
      <td>176306</td>
      <td>[mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, brs, min, mos]</td>
      <td>[mar, nic, geo, mil, ver, ven, via, wie, brc, kat, war, brs, min, mos]</td>
    </tr>
    <tr>
      <th>1142</th>
      <td>mar(Marseille)</td>
      <td>rig(Rīga)</td>
      <td>1857</td>
      <td>2311</td>
      <td>454</td>
      <td>2668093</td>
      <td>2491786</td>
      <td>176306</td>
      <td>[mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, bia, kau, vil, dau, rig]</td>
      <td>[mar, nic, geo, mil, ver, ven, via, wie, brc, kat, war, bia, kau, vil, dau, rig]</td>
    </tr>
    <tr>
      <th>3126</th>
      <td>bia(Białystok)</td>
      <td>mar(Marseille)</td>
      <td>1115</td>
      <td>1569</td>
      <td>454</td>
      <td>2013939</td>
      <td>1837632</td>
      <td>176306</td>
      <td>[bia, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar]</td>
      <td>[bia, war, kat, brc, wie, via, ven, ver, mil, geo, nic, mar]</td>
    </tr>
    <tr>
      <th>1145</th>
      <td>mar(Marseille)</td>
      <td>sak(Sankt-Peterburg)</td>
      <td>2123</td>
      <td>2577</td>
      <td>454</td>
      <td>3655221</td>
      <td>3478914</td>
      <td>176306</td>
      <td>[mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, brs, min, mos, sak]</td>
      <td>[mar, nic, geo, mil, ver, ven, via, wie, brc, kat, war, brs, min, mos, sak]</td>
    </tr>
    <tr>
      <th>1146</th>
      <td>mar(Marseille)</td>
      <td>tal(Tallinn)</td>
      <td>2601</td>
      <td>3055</td>
      <td>454</td>
      <td>3964713</td>
      <td>3788406</td>
      <td>176306</td>
      <td>[mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, brs, min, mos, sak, tal]</td>
      <td>[mar, nic, geo, mil, ver, ven, via, wie, brc, kat, war, brs, min, mos, sak, tal]</td>
    </tr>
    <tr>
      <th>1147</th>
      <td>mar(Marseille)</td>
      <td>oul(Oulu)</td>
      <td>2643</td>
      <td>3097</td>
      <td>454</td>
      <td>4470392</td>
      <td>4294085</td>
      <td>176306</td>
      <td>[mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, brs, min, mos, sak, hel, oul]</td>
      <td>[mar, nic, geo, mil, ver, ven, via, wie, brc, kat, war, brs, min, mos, sak, hel, oul]</td>
    </tr>
    <tr>
      <th>1148</th>
      <td>mar(Marseille)</td>
      <td>tur(Turku)</td>
      <td>2450</td>
      <td>2904</td>
      <td>454</td>
      <td>4106261</td>
      <td>3929955</td>
      <td>176306</td>
      <td>[mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, brs, min, mos, sak, hel, tur]</td>
      <td>[mar, nic, geo, mil, ver, ven, via, wie, brc, kat, war, brs, min, mos, sak, hel, tur]</td>
    </tr>
    <tr>
      <th>3182</th>
      <td>dau(Daugavpils)</td>
      <td>mar(Marseille)</td>
      <td>1653</td>
      <td>2107</td>
      <td>454</td>
      <td>2472045</td>
      <td>2295738</td>
      <td>176306</td>
      <td>[dau, vil, kau, bia, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar]</td>
      <td>[dau, vil, kau, bia, war, kat, brc, wie, via, ven, ver, mil, geo, nic, mar]</td>
    </tr>
    <tr>
      <th>3699</th>
      <td>bur(Burgas)</td>
      <td>dor(Dortmund)</td>
      <td>2066</td>
      <td>2490</td>
      <td>424</td>
      <td>2083537</td>
      <td>2042090</td>
      <td>41446</td>
      <td>[bur, kan, sof, beo, bud, wie, lin, nur, fra, kol, dor]</td>
      <td>[bur, kan, var, buc, tim, bud, bra, brc, pra, dre, lei, erf, kas, dor]</td>
    </tr>
    <tr>
      <th>2117</th>
      <td>dor(Dortmund)</td>
      <td>kan(Karnobat)</td>
      <td>2030</td>
      <td>2454</td>
      <td>424</td>
      <td>2038990</td>
      <td>1997543</td>
      <td>41446</td>
      <td>[dor, kol, fra, nur, lin, wie, bud, beo, sof, kan]</td>
      <td>[dor, kas, erf, lei, dre, pra, brc, bra, bud, tim, buc, var, kan]</td>
    </tr>
    <tr>
      <th>2429</th>
      <td>dre(Dresden)</td>
      <td>nic(Nice)</td>
      <td>809</td>
      <td>1200</td>
      <td>391</td>
      <td>1428960</td>
      <td>1200658</td>
      <td>228302</td>
      <td>[dre, lei, erf, fra, mah, str, mul, lyo, mar, nic]</td>
      <td>[dre, pra, nur, stu, zur, mil, geo, nic]</td>
    </tr>
    <tr>
      <th>1155</th>
      <td>nic(Nice)</td>
      <td>wro(Wrocław)</td>
      <td>1075</td>
      <td>1466</td>
      <td>391</td>
      <td>1647333</td>
      <td>1419031</td>
      <td>228302</td>
      <td>[nic, mar, lyo, mul, str, mah, fra, erf, lei, dre, wro]</td>
      <td>[nic, geo, mil, zur, stu, nur, pra, dre, wro]</td>
    </tr>
    <tr>
      <th>2516</th>
      <td>erf(Erfurt)</td>
      <td>kan(Karnobat)</td>
      <td>1840</td>
      <td>2215</td>
      <td>375</td>
      <td>1763744</td>
      <td>1755751</td>
      <td>7993</td>
      <td>[erf, nur, lin, wie, bud, beo, sof, kan]</td>
      <td>[erf, lei, dre, pra, brc, bra, bud, tim, buc, var, kan]</td>
    </tr>
    <tr>
      <th>3691</th>
      <td>bur(Burgas)</td>
      <td>erf(Erfurt)</td>
      <td>1876</td>
      <td>2251</td>
      <td>375</td>
      <td>1808291</td>
      <td>1800298</td>
      <td>7993</td>
      <td>[bur, kan, sof, beo, bud, wie, lin, nur, erf]</td>
      <td>[bur, kan, var, buc, tim, bud, bra, brc, pra, dre, lei, erf]</td>
    </tr>
  </tbody>
</table>