<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>source</th>
      <th>target</th>
      <th>dur_fastest</th>
      <th>dur_shortest</th>
      <th>dur_diff</th>
      <th>dist_fastest</th>
      <th>dist_shortest</th>
      <th>dist_diff</th>
      <th>route_fastest</th>
      <th>route_shortest</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>3162</th>
      <td>kau(Kaunas)</td>
      <td>nic(Nice)</td>
      <td>1546</td>
      <td>1690</td>
      <td>144</td>
      <td>2357771</td>
      <td>1918775</td>
      <td>438995</td>
      <td>[kau, bia, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar, nic]</td>
      <td>[kau, bia, war, kat, brc, wie, via, ven, ver, mil, geo, nic]</td>
    </tr>
    <tr>
      <th>3017</th>
      <td>min(Minsk)</td>
      <td>nic(Nice)</td>
      <td>1527</td>
      <td>1671</td>
      <td>144</td>
      <td>2512878</td>
      <td>2073882</td>
      <td>438995</td>
      <td>[min, brs, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar, nic]</td>
      <td>[min, brs, war, kat, brc, wie, via, ven, ver, mil, geo, nic]</td>
    </tr>
    <tr>
      <th>2993</th>
      <td>mos(Moskva)</td>
      <td>nic(Nice)</td>
      <td>2069</td>
      <td>2213</td>
      <td>144</td>
      <td>3154627</td>
      <td>2715632</td>
      <td>438995</td>
      <td>[mos, min, brs, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar, nic]</td>
      <td>[mos, min, brs, war, kat, brc, wie, via, ven, ver, mil, geo, nic]</td>
    </tr>
    <tr>
      <th>1169</th>
      <td>nic(Nice)</td>
      <td>tal(Tallinn)</td>
      <td>2756</td>
      <td>2900</td>
      <td>144</td>
      <td>4096057</td>
      <td>3657062</td>
      <td>438995</td>
      <td>[nic, mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, brs, min, mos, sak, tal]</td>
      <td>[nic, geo, mil, ver, ven, via, wie, brc, kat, war, brs, min, mos, sak, tal]</td>
    </tr>
    <tr>
      <th>1168</th>
      <td>nic(Nice)</td>
      <td>sak(Sankt-Peterburg)</td>
      <td>2278</td>
      <td>2422</td>
      <td>144</td>
      <td>3786565</td>
      <td>3347570</td>
      <td>438995</td>
      <td>[nic, mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, brs, min, mos, sak]</td>
      <td>[nic, geo, mil, ver, ven, via, wie, brc, kat, war, brs, min, mos, sak]</td>
    </tr>
    <tr>
      <th>1167</th>
      <td>nic(Nice)</td>
      <td>rig(Rīga)</td>
      <td>2012</td>
      <td>2156</td>
      <td>144</td>
      <td>2799437</td>
      <td>2360441</td>
      <td>438995</td>
      <td>[nic, mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, bia, kau, vil, dau, rig]</td>
      <td>[nic, geo, mil, ver, ven, via, wie, brc, kat, war, bia, kau, vil, dau, rig]</td>
    </tr>
    <tr>
      <th>1171</th>
      <td>nic(Nice)</td>
      <td>tur(Turku)</td>
      <td>2605</td>
      <td>2749</td>
      <td>144</td>
      <td>4237606</td>
      <td>3798610</td>
      <td>438995</td>
      <td>[nic, mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, brs, min, mos, sak, hel, tur]</td>
      <td>[nic, geo, mil, ver, ven, via, wie, brc, kat, war, brs, min, mos, sak, hel, tur]</td>
    </tr>
    <tr>
      <th>3137</th>
      <td>bia(Białystok)</td>
      <td>nic(Nice)</td>
      <td>1270</td>
      <td>1414</td>
      <td>144</td>
      <td>2145283</td>
      <td>1706288</td>
      <td>438995</td>
      <td>[bia, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar, nic]</td>
      <td>[bia, war, kat, brc, wie, via, ven, ver, mil, geo, nic]</td>
    </tr>
    <tr>
      <th>1170</th>
      <td>nic(Nice)</td>
      <td>oul(Oulu)</td>
      <td>2798</td>
      <td>2942</td>
      <td>144</td>
      <td>4601736</td>
      <td>4162741</td>
      <td>438995</td>
      <td>[nic, mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, brs, min, mos, sak, hel, oul]</td>
      <td>[nic, geo, mil, ver, ven, via, wie, brc, kat, war, brs, min, mos, sak, hel, oul]</td>
    </tr>
    <tr>
      <th>1158</th>
      <td>nic(Nice)</td>
      <td>war(Warszawa)</td>
      <td>1133</td>
      <td>1277</td>
      <td>144</td>
      <td>1961378</td>
      <td>1522383</td>
      <td>438995</td>
      <td>[nic, mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war]</td>
      <td>[nic, geo, mil, ver, ven, via, wie, brc, kat, war]</td>
    </tr>
    <tr>
      <th>1165</th>
      <td>nic(Nice)</td>
      <td>vil(Vilnius)</td>
      <td>1645</td>
      <td>1789</td>
      <td>144</td>
      <td>2443291</td>
      <td>2004296</td>
      <td>438995</td>
      <td>[nic, mar, lyo, mul, str, mah, fra, kas, goi, ber, poz, war, bia, kau, vil]</td>
      <td>[nic, geo, mil, ver, ven, via, wie, brc, kat, war, bia, kau, vil]</td>
    </tr>
    <tr>
      <th>2961</th>
      <td>hel(Helsinki)</td>
      <td>nic(Nice)</td>
      <td>2485</td>
      <td>2629</td>
      <td>144</td>
      <td>4087214</td>
      <td>3648219</td>
      <td>438995</td>
      <td>[hel, sak, mos, min, brs, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar, nic]</td>
      <td>[hel, sak, mos, min, brs, war, kat, brc, wie, via, ven, ver, mil, geo, nic]</td>
    </tr>
    <tr>
      <th>3191</th>
      <td>dau(Daugavpils)</td>
      <td>nic(Nice)</td>
      <td>1808</td>
      <td>1952</td>
      <td>144</td>
      <td>2603389</td>
      <td>2164394</td>
      <td>438995</td>
      <td>[dau, vil, kau, bia, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar, nic]</td>
      <td>[dau, vil, kau, bia, war, kat, brc, wie, via, ven, ver, mil, geo, nic]</td>
    </tr>
    <tr>
      <th>3048</th>
      <td>brs(BrestBy)</td>
      <td>nic(Nice)</td>
      <td>1345</td>
      <td>1489</td>
      <td>144</td>
      <td>2162681</td>
      <td>1723686</td>
      <td>438995</td>
      <td>[brs, war, poz, ber, goi, kas, fra, mah, str, mul, lyo, mar, nic]</td>
      <td>[brs, war, kat, brc, wie, via, ven, ver, mil, geo, nic]</td>
    </tr>
    <tr>
      <th>2610</th>
      <td>kat(Katowice)</td>
      <td>lee(Leeds)</td>
      <td>1049</td>
      <td>1208</td>
      <td>159</td>
      <td>2079427</td>
      <td>1713637</td>
      <td>365789</td>
      <td>[kat, brc, wie, lin, nur, fra, kol, bru, lil, lon, yor, lee]</td>
      <td>[kat, wro, dre, lei, erf, kas, dor, kol, bru, lil, lon, she, lee]</td>
    </tr>
    <tr>
      <th>2764</th>
      <td>kra(Kraków)</td>
      <td>lee(Leeds)</td>
      <td>1159</td>
      <td>1318</td>
      <td>159</td>
      <td>2146287</td>
      <td>1780497</td>
      <td>365789</td>
      <td>[kra, kat, brc, wie, lin, nur, fra, kol, bru, lil, lon, yor, lee]</td>
      <td>[kra, kat, wro, dre, lei, erf, kas, dor, kol, bru, lil, lon, she, lee]</td>
    </tr>
    <tr>
      <th>535</th>
      <td>lee(Leeds)</td>
      <td>pis(Pisa)</td>
      <td>813</td>
      <td>869</td>
      <td>56</td>
      <td>1944706</td>
      <td>1609663</td>
      <td>335043</td>
      <td>[lee, yor, lon, lil, par, lyo, toi, mil, bol, fir, pis]</td>
      <td>[lee, she, lon, lil, par, lyo, toi, geo, pis]</td>
    </tr>
    <tr>
      <th>1143</th>
      <td>mar(Marseille)</td>
      <td>var(Varna)</td>
      <td>2239</td>
      <td>2410</td>
      <td>171</td>
      <td>2405657</td>
      <td>2084905</td>
      <td>320752</td>
      <td>[mar, lyo, mul, str, stu, mun, saz, lin, wie, bud, tim, buc, var]</td>
      <td>[mar, nic, geo, mil, ver, ven, via, lju, zag, beo, sof, var]</td>
    </tr>
    <tr>
      <th>3476</th>
      <td>kan(Karnobat)</td>
      <td>kob(København)</td>
      <td>2340</td>
      <td>2611</td>
      <td>271</td>
      <td>2559967</td>
      <td>2245599</td>
      <td>314367</td>
      <td>[kan, sof, beo, bud, wie, lin, nur, erf, lei, ber, ham, kob]</td>
      <td>[kan, var, buc, tim, bud, bra, brc, pra, dre, ber, ham, kob]</td>
    </tr>
    <tr>
      <th>3473</th>
      <td>kan(Karnobat)</td>
      <td>szc(Szczecin)</td>
      <td>2067</td>
      <td>2338</td>
      <td>271</td>
      <td>2166885</td>
      <td>1852517</td>
      <td>314367</td>
      <td>[kan, sof, beo, bud, wie, lin, nur, erf, lei, ber, szc]</td>
      <td>[kan, var, buc, tim, bud, bra, brc, pra, dre, ber, szc]</td>
    </tr>
  </tbody>
</table>